.login-container{
  min-height: 100dvh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 70dvh;
}

.form {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 2px 2px hsla(0, 100%, 1%, 0.123);
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  width: 300px; 
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-size: 14px; 
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
input:focus{
  outline-color: #785DA6;
}

.input-icon input {
  width: 100%;
  padding: 10px 15px 10px 35px; /* Adjust left padding to accommodate icon */
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-icon svg {
  position: absolute;
  left: 25px; /* Adjust based on actual need but aligns with input padding start */
  top: 40%;
  transform: translateY(-50%); /* Correctly centers the icon vertically */
  color: #555;
}

.submit {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #0000ff;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  transition: all 0.2s ease-in-out; /* Smooth transition for visual effects */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Initial shadow for depth */
}

.submit:hover {
  background-color: #003399; /* Darker shade when hovered for visual feedback */
}

.submit:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow to simulate pressing down */
  transform: translateY(2px); /* Move the button down to simulate depth */
}


.errormessage {
  color: rgb(255, 0, 0);
  font-size: small;
  margin-top: 5px;
  font-style: italic;
}
.google-signin{
  display: flex;
  gap: 10px;
}
.gicon{
  color: hsl(0, 77%, 54%);
}
.ficon{
  color: hsl(240, 79%, 49%);
}
.top-heading{
  color: #785DA6;
}
.fpass{
  border-right: 2px solid black;
  margin-right: 8px;
  padding-right: 8px;
}