
.sidebar {
    width: 50px; /* Width of the sidebar when collapsed */
    height: 100vh; /* Full height */
    background-color: hsl(0, 12%, 93%); /* Sidebar background color */
    color: white; /* Icon color */
    padding: 10px 5px; /* Padding around icons */
    transition: width 0.5s; /* Smooth transition for expanding/collapsing */
    display: flex;
    flex-direction: column; /* Align icons vertically */
    align-items: center; /* Center icons horizontally */
  }
  
  .sidebar.expanded {
    width: 150px; /* Expanded width */
  }
  
  .sidebar i {
    margin: 80px 0; /* Space between icons */
  }
  
  